.start-main-block {
    padding: 20px 30% 0 10%;
    position: relative;
}

.start-intro {
    font-size: 20px;
    padding: 20px 0 20px 0;
}

.start-button {
    width: 20%;
    margin: 10px 0;
    display: block;

    background: gray;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    border: 2px solid gray;
    border-radius: 5px;
    transition: 0.2s;

    position: relative;
    color: azure;
    cursor: pointer;
    line-height: 1;
}

.start-button:hover {
    background: darkslategray;
}

.start-button:active {
    background: white;
}

.start-image-block {
    margin: 40px 0 0 0;
    border-radius: 5px;
    border: solid 2px #c70101;
    overflow: hidden;
}