.final-main-block {
    padding: 20px 30% 0 10%;
    position: relative;
}

.final-info {
    font-size: 30px;
    padding: 0 0 20px 0;
}

.show-question {
    font-size: 25px;
    font-weight: 500;
}

.show-mistake {
    font-size: 20px;
    font-weight: 600;
    color: #808080;
    text-decoration: #c70101 line-through;
}

.show-answer {
    font-size: 25px;
    font-weight: 600;
}

.big-font {
    font-size: 30px;
    font-weight: 700;
}

.all-mistakes {
    border-top: solid 4px #808080;
    margin: 0 0 10px 0;
}

.start-button {
    width: 20%;
    margin: 10px 0;
    display: block;

    background: #808080;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    border: solid 2px #808080;
    border-radius: 5px;
    transition: 0.2s;

    position: relative;
    color: #f0ffff;
    cursor: pointer;
    line-height: 1;
}

.start-button:hover {
    background: #2f4f4f;
}

.start-button:active {
    background: #f0ffff;
}

.start-image-block {
    margin: 40px 0 0 0;
    border-radius: 5px;
    border: solid 2px #c70101;
    overflow: hidden;
}