.article {
    height: 320px;
    width: 400px;
    border-radius: 15px;
    position: relative;

    border: solid 2px #808080;
    margin: 30px;
    background: #f0ffff;

    overflow: hidden;
    cursor: pointer;

    color: #000 !important;
    text-decoration: none;
}

.article-image {
    height: 200px;
    width: 400px;
    overflow: hidden;
}

.article-image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.article-image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.article-title {
    height: 100%;
    position: -webkit-sticky;
    padding: 5px 0 0 5px;
    background: wheat;
}

.news-div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px 0 30px;
}

.big-title {
    height: 100%;
    position: -webkit-sticky;
    padding: 15px;
    font-weight: 700;
    color: wheat;
    font-size: 25px;
    background: #c70101;
}