*
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: none;
}



.article {
    height: 250px;
    width: 400px;
    border-radius: 15px;
    position: relative;

    border: black solid;
    margin: 30px;
    background: azure;

    overflow: hidden;
}

.article-image {
    height: 200px;
    width: 200px;
    position: -webkit-sticky;
    border-radius: 10px;
    background: #c70101;
}

.article-title {
    position: -webkit-sticky;
}

.news-div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px 0px 30px;
}