*
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main-div {
    background: #c70101;
    width: 100%;
    height: 60px;
    display: flex;
}

.nav-button {
    margin: 20px;
    min-width: 30px;
    border-radius: 20px;
    font-weight: 700;

    position: relative;
    color: azure; /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1; /*задаём высоту строки*/
    text-decoration: none; /*убираем подчёркивание*/
}
.nav-button:after{
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    margin-top: 8px;
    height: 3px; /*задаём ширину линии*/
    border-radius: 1px;
    background-color: azure; /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
}
.nav-button:hover:after,
.nav-button:focus:after {
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.logo {
    margin: 5px;
    width: 50px;
    height: 50px;
    /*border: 1px solid;*/
    background-size: cover;
    background-image: url("https://wreferat.baza-referat.ru/1_543697690-72265.wpic");
    cursor:pointer;
}