.question-main-block{
    padding: 20px 30% 0 10%;
    position: relative;
}

.all-ans-block{
    padding: 15px 0 0 0;
}

.progress {
    font-size: 30px;
}

.question {
    width: 70%;
    font-size: 30px;
}

.quiz-answer-button {
    width: 70%;
    margin: 10px 0 0 0;
    display: inline-block;

    background: #c70101;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 3%;
    border: solid 2px;
    border-radius: 3px;
    transition: 0.2s;

    position: relative;
    color: #f0ffff;
    cursor: pointer;
    line-height: 1;
}
.quiz-answer-button:hover {
    background: #8b0000;
}
.quiz-answer-button:active {
    background: #f0ffff;
}

.quiz-navigation {
    width: 40%;
    margin: 10px 0;
    display: block;

    background: #808080;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    border: solid 2px #808080;
    border-radius: 5px;
    transition: 0.2s;

    position: relative;
    color: #f0ffff;
    cursor: pointer;
    line-height: 1;
}
.quiz-navigation:hover {
    background: #2f4f4f;
}
.quiz-navigation:active {
    background: #f0ffff;
}

.question-image-block {
    width: 76.7%;
    margin: 40px 0 0 0;
    border-radius: 5px;
    overflow: hidden;
    border: solid 2px #f0ffff;
}